.card-container {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  cursor: pointer;
  /*padding: 2rem;*/
}
.card {
  /*height: 200px;*/
  padding: 20px 20px;
  border-radius: 4px;
  border: 1px solid #282829;
}
.card-heading {

}
.card-body {
  text-align: justify;
  text-transform: capitalize;
}

@media (min-width: 600px) {
  .card {
    padding: 40px 60px;
  }
}
